@import "../common/mixins";
@import "../common/variables";
/* Breadcrumb */
.breadcrumb{
  margin: 20px 0 60px;
  padding: 0;
  list-style: none;
  align-items: center;
  background: #ffffff;
  border-radius: 0;
  font-size: 16px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  a, span{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    i{
      font-size: 24px;
    }
  }
  .separate{
    margin: 0 5px;
  }
}