@import "../common/mixins";
@import "../common/variables";
footer {
    background-color: $black-color;
    color: #fff;
    padding: 20px 0 50px;
}
.footer-widget{
    .widget-title{
        text-align: left;
        border-color: $second-color;
        color: $white-color;
        display: inline-block;
        margin-bottom: 14px;
    }
    .menu{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a{
            font-size: 14px;
            height: auto;
            border-bottom: none;
            display: flex;
            padding: 10px 0 0;
            align-items: center;
            color: #fff;
            &.active, &:hover{
                color: $accent-color;
                padding-left: 0;
                background-color: transparent;
            }
        }
    }
}