@import "../common/mixins";
@import "../common/variables";
.header-primary {
    border-bottom: 2px solid $accent-color;
}

.header-block {
    display: flex;
    font-size: 16px;
    align-items: center;
    .item {
        margin-right: 12px;
    }

    .item:last-child {
        margin-left: 12px;
    }
    .icon {
        margin-right: 8px;
        i{
            vertical-align: -1px;
        }
    }
}

.search {
    .icon-search{
        font-size: 18px;
        color: $black-color;
    }
    .form-control{
        height: 30px;
        border: none;
        font-size: 14px;
    }
    .input-search{
        border-bottom: 1px solid $accent-color;
        margin: 0 15px 0 12px;
    }
    .search-key{
        margin-top: -20px;
    }
}
.form-search{
    border-radius: 8px;
}