@import "../common/mixins";
@import "../common/variables";
.header-top {
    background: $black-color;
    height: 48px;
    align-items: center;
    display: flex;
}

.header-primary {
    padding: 12px 0 0;
    border-bottom: 2px solid $accent-color;
}

.header-block {
    display: flex;
    color: #fff;
    font-size: 16px;
    align-items: center;
    .item {
        margin-right: 12px;
    }

    .item:last-child {
        margin-left: 12px;
    }
    .icon {
        margin-right: 8px;
        i{
            font-size: 24px;
            vertical-align: middle;
        }
    }
}

.search {
    .icon-search{
        cursor: pointer;
        i{
            font-size: 24px;
            color: #C4C9D4;
        }
    }
}