/* Navigation */
.navigation {
  .menu {
    padding: 0;
    margin: 0;
    list-style: none;

    .menu-item {
      position: relative;

      a {
        color: $black-color;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
        display: block;
        position: relative;
        text-transform: uppercase;
      }
    }

    .sub-menu {
      padding: 0;
      margin: 0;
      list-style: none;
      .menu-item {
        padding: 10px 0;
        margin: 0;
        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:after {
            @include css3-compatible("transform", rotate(180deg));
            font-size: 12px;
          }
        }
        .icon{
          position: absolute;
          right: 0;
        }
      }

      .item-parent {
        &:hover {
          > .sub-menu {
            top: 0;
          }
        }
      }

      .sub-menu {
        left: 100%;
      }
    }

    > .menu-item {
      &:hover, &.active {
        > a {
          color: rgba(26, 26, 26, 1);

          &:before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .item-parent {
      position: relative;
      &:hover {
        > .sub-menu {
          @include opacity(1);
          visibility: visible;
          top: 44px;
        }
      }
    }

    .menu-item:last-child {
      margin-right: 0px;
    }
  }
}