@import "../common/mixins";
@import "../common/variables";
/* Style for module post */
.post-thumbnail {
    img {
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

/* For general post */
.section-post {
    .description {
        margin: 10px 0;
        font-size: 14px;
    }

    .post-cat {
        height: 30px;
        background-color: rgba(26, 26, 26, 0.8);
        padding: 0 15px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;

        a {
            color: #fff;
        }
    }

    .cat-special {
        background-color: transparent;
        padding: 0;
        height: auto;
        a {
            color: #C4C9D4;
            font-size: 12px;
            font-weight: bold;

            &:hover {
                color: $accent-color;
            }
        }
    }

    .post-date {
        padding: 10px 0;
        color: #A2A2A2;
        font-size: 12px;
    }

    .post-title {
        display: block;
        padding: 8px 0;
        margin: 0;
        line-height: 22px;

        a {
            font-size: 18px;
            color: $black-color;
            font-weight: bold;

            &:hover {
                color: $accent-color;
            }
        }
    }

    .post-label{
        border-radius: 4px;
        background-color: #EE0200;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        padding: 0 9px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-icon{
        background-color: rgba(0,0,0,0.4);
        border: 2px solid #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    .post-author {
        font-size: 12px;

        a {
            color: #1a1a1a;

            &:hover {
                color: $accent-color;
            }
        }
    }

    &.module__slider {
        .slick-prev,
        .slick-next {
            top: -28px;
        }
    }

    + .section-post {
        margin-top: 24px;
    }

    .post-link {
        font-size: 12px;
        color: $accent-color;
        line-height: 16px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.module-slider__grid {
    margin-right: -12px;
    margin-left: -12px;

    .post-item {
        padding-right: 12px;
        padding-left: 12px;
    }

    .slick-prev,
    .slick-next {
        margin-right: 15px;
    }
}

.section-post__live, .section-post__alt {
    .post-thumbnail {
        &:after {
            width: 100%;
            height: 50%;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
        }
    }
}

/* For post banner */
.section-post__alt {
    .post-item {
        position: relative;
    }

    .post-thumbnail {
        img {
            height: 220px;
            border-radius: 0;
        }
    }

    .post-cat {
        padding: 0 6px;
        height: 22px;
        text-transform: uppercase;
    }

    .post-date {
        font-size: 14px;
        display: block;
        padding: 0;
        color: $black-color;
    }

    .bg-white {
        border-radius: 4px;
    }

    .description {
        margin: 16px 0 3px;
    }

    .bg-white {
        padding: 14px 16px;
    }

    .post-title {
        padding: 5px 0;

        a {
            font-size: 16px;
            line-height: 1;
        }
    }

    .post-info {
        border-radius: 4px;
        width: calc(100% - 30px);
        margin: -50px auto 0;
        position: relative;
        z-index: 1;
    }

    &.module__slider {
        .slick-prev,
        .slick-next {
            top: 100px;
            @include css3-compatible("transform", none);
            z-index: 1;
        }

        .slick-prev {
            left: 0;
        }
    }
}

.post-alt__medium{
    .post-thumbnail{
        img{
            height: 300px;
        }
    }
    .post-info{
        width: 100%;
        padding: 0 24px;
        margin: 0;
        bottom: 20px;
    }
    .post-author{
        border-right: 1px solid #FFFFFF;
        padding-right: 8px;
        margin-right: 8px;
        a{
            color: #fff;
        }
    }
    .post-title {
        padding: 10px 0;
        a{
            font-size: 14px;
        }
    }
    .post-date,
    .post-title a{
        color: #fff;
    }
}

/* For post minimal */
.section-post__minimal {
    padding: 0;

    .slick-list {
        padding: 0 87px 0 0;
    }

    .post-item {
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 12px;
        border-radius: 4px;
        border: 1px solid rgba(26, 26, 26, 0.1);
    }

    .post-title {
        line-height: 1;
        padding: 0;

        a {
            font-size: 12px;
        }
    }

    .post-thumbnail {
        margin-right: 12px;

        img {
            width: 72px;
            height: 72px;
        }
    }
}

.post-minimal-light {
    font-size: 12px;
    color: $accent-color;
    margin-bottom: 25px;
    border-top: 1px solid #C4C9D4;
    border-bottom: 1px solid #C4C9D4;
    padding: 15px 0 5px;
    .post-item {
        margin-left: 0;
        margin-right: 0;
        border: none;
        margin-bottom: 10px;
        &:before {
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: $accent-color;
            content: "";
            display: inline-block;
            margin-right: 8px;
            vertical-align: 1px;
        }
    }
    .post-cat {
        a {
            color: $black-color;
            font-weight: bold;
        }
    }
    .post-title {
        color: $accent-color;
    }
}

/* For post slider */
.section-post__slider {
    .link-post {
        font-size: 12px;
        color: $accent-color;
        line-height: 16px;
    }

    img {
        width: 100%;
        height: 130px;
        max-height: 130px;
    }

    .post-title {
        line-height: 1;
        padding-top: 0;
    }

    .post-info {
        margin: 12px 0 0 0;
    }
}

/* For post ziczac */
.section-post__ziczac {
    margin-left: -15px;
    margin-right: -15px;

    .post-item {
        background-color: #fff;
        border-radius: 4px;
        @include css3-compatible("box-shadow", 0 0px 8px rgba(26, 26, 26, 0.2));
        margin: 15px;
    }

    .post-thumbnail {
        img {
            height: 190px;
        }
    }

    .post-title {
        padding: 12px 20px 20px;
        border-radius: 0 4px 4px 0;

        a {
            font-size: 16px;
            line-height: 1;
        }
    }

    &.slick-slider {
        .slick-dots {
            li {
                button {
                    width: 40px;
                    height: 4px;
                    border-radius: 2px;
                    background-color: #D8D8D8;
                    border: none;
                }
            }
        }

        &.slick-dotted {
            margin-bottom: 0;

            .post-title {
                padding-bottom: 50px;
            }

            .slick-dots {
                position: absolute;
                bottom: 40px;
            }
        }
    }
}

.post-ziczac__medium {
    .post-item {
        margin-right: 9px;
        margin-left: 15px;
    }

    .post-thumbnail {
        img {
            width: 100%;
            height: 105px;
        }
    }

    .slick-list {
        padding: 0 165px 0 0;
    }
}

/* For post Video */
.content-video {
    padding-top: 16px;
    padding-bottom: 16px;
}

.section-post__video {
    margin-left: -4px;
    margin-right: -15px;

    .post-thumbnail {
        border-radius: 4px;
        overflow: hidden;
    }

    .post-item {
        padding-left: 4px;
        padding-right: 4px;
    }

    .post-title {
        padding: 10px 0 0;
        line-height: 0.8;

        a {
            color: #fff;
            font-size: 14px;
        }
    }

    &.slick-slider {
        .slick-list {
            padding-right: 25px;
        }

        .slick-prev,
        .slick-next {
            border-color: #6e7176;
            background-color: #858585;

            &:before {
                color: #fff;
            }
        }
    }
}

.video-js {
    &.vjs-fluid {
        min-height: 88px;
    }

    .vjs-poster {
        background-size: cover;
    }

    .vjs-big-play-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.7);
        align-items: center;
        @include css3-compatible("transform", translate(-50%, -50%));
        top: 50%;
        left: 50%;
        font-size: 14px;
    }
}

.vjs-icon-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
}

.vjs-icon-placeholder:before {
    font-family: IcoFont !important;
    content: "\ecaa" !important;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

/* For post grid */
.section-post__grid {
    .post-thumbnail {
        img {
            height: 80px;
        }
    }

    .post-title {
        padding: 4px 0;
        line-height: 0.5;
        a {
            font-size: 10px;
        }
    }

    .col-4:nth-child(n+4) {
        margin-top: 15px;
    }
    &.slick-slider {
        .slick-list {
            padding-right: 70px;
        }
    }
    &.module-slider__grid{
        margin-left: -8px;
        margin-right: -15px;
        .post-item{
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

/* For post hot */
.section-post__hot {
    margin: 15px 30px 20px 15px;

    .post-title {
        padding: 0;
        line-height: 1.3;
        a {
            font-size: 12px;
            font-weight: normal;
            color: $black-color;
        }
    }

    .post-thumbnail {
        margin-right: 16px;

        img {
            width: 86px;
            height: 48px;
        }
    }

    .slick-slider {
        .slick-next, .slick-prev {
            z-index: 1;
        }

        .slick-next {
            right: -30px;
        }

        .slick-prev {
            left: -15px;
        }
    }
}

/* For post large */
.section-post__large {
    .post-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-right: 15px;
    }

    .post-cat {
        margin: 0;
    }

    .post-title {
        padding: 15px 0 5px;
        line-height: 33px;

        a {
            font-size: 24px;
        }
    }
}

/* For post list */
.section-post__list {
    .post-item {
        margin-bottom: 22px;
        background-color: #fff;
        border-radius: 4px;
        padding-right: 10px;
    }

    .d-flex {
        align-items: center;
    }

    .post-thumbnail {
        margin-right: 22px;

        img {
            width: 156px;
            height: 88px;
        }
    }

    .post-title {
        padding: 0 0 10px 0;
        line-height: 0.8;

        a {
            font-size: 14px;
        }
    }

    .post-date {
        padding: 6px 0;
    }
}

.post-list__small {
    .post-thumbnail {
        flex: 0 0 46%;

        img {
            min-height: 120px;
            max-height: 120px;
        }
    }
}

.post-list__medium {
    .post-thumbnail {
        margin-right: 16px;

        img {
            width: 130px;
            height: 80px;
        }
    }
}

.footer-widget {
    .post-item {
        .post-title {
            a {
                color: #fff;
            }
        }
    }
}

/* For post related */
.section-post__related {
    margin: 33px 0 0 0;

    .post-item {
        border-top: 1px solid #C4C9D4;
        padding: 0 0 10px 0;

        &:last-child {
            border-bottom: 1px solid #C4C9D4;
        }
    }

    .post-date {
        padding: 0;
    }

    p.date {
        color: #A2A2A2;
        font-size: 12px;
        line-height: 16px;
    }

    .post-title {
        line-height: 0.8;

        a {
            font-size: 14px;
        }
    }
}

/* Single Post */
.single-post {
    .content-area {
        margin-top: 0;
    }
    .social {
        li {
            margin: 0 0 0 12px;
            img{
                margin-bottom: 0;
            }
        }
    }
    .content-video {
        background-color: #F0F0F0;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: 1px solid $black-color;
        position: relative;
        overflow: hidden;
        .custom-heading {
            background-color: #fff;
            padding-left: 15px;
            border-color: $black-color;
        }
    }
    .section-post__video {
        padding: 10px 15px 25px 15px;
        .post-title {
            padding: 11px 0 0;
            line-height: 0.5;
            a {
                color: #1A1A1A;
                font-size: 14px;
                line-height: normal;
            }
        }
        &.slick-slider {
            .slick-prev,
            .slick-next {
                border-color: #C4C9D4;
                background-color: #F0F0F0;
                &:before {
                    color: #C4C9D4;
                }
            }
        }
    }
    .video-js {
        &.vjs-fluid {
            min-height: 103px;
        }

        .vjs-big-play-button {
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
        }
    }
    .vjs-icon-placeholder:before {
        font-size: 16px;
    }
    .tags{
        flex-wrap: wrap;
        a, h6{
            font-size: 12px;
        }
        h6{
            margin-right: 6px;
        }
    }
}

/* Post Live */

.section-post__live {
    img {
        height: 320px;
    }
    .post-info {
        bottom: 0;
        z-index: 1;
        padding: 0 16px;
    }
    .post-title {
        padding: 5px 0 16px;
        a {
            color: #fff;
            font-size: 16px;
        }
    }
    .post-date {
        color: #fff;
        font-size: 14px;
    }
    .post-label {
        top: 16px;
        left: 16px;
        &:before {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 6px;
            background-color: #fff;
        }
    }
}