@import "../common/mixins";
@import "../common/variables";
/* Style for module post */
.post-thumbnail {
    img {
        width: 100%;
        object-fit: cover;
    }
}

/* For general post */
.section-post {
    .post-item{
        position: relative;
    }
    .description {
        margin: 10px 0;
        font-size: 14px;
    }

    .post-cat {
        height: 30px;
        background-color: rgba(26, 26, 26, 0.8);
        padding: 0 15px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;

        a {
            color: #fff;
        }
    }

    .cat-special {
        background-color: transparent;
        padding: 0;
        a {
            color: #C4C9D4;
            font-size: 16px;
            font-weight: bold;
            &:hover {
                color: $accent-color;
            }
        }
    }

    .post-date {
        padding: 10px 0;
        color: #A2A2A2;
        font-size: 12px;
    }

    .post-title {
        display: block;
        padding: 8px 0;
        margin: 0;
        line-height: 22px;

        a {
            font-size: 18px;
            color: $black-color;
            font-weight: bold;
            &:hover {
                color: $accent-color;
            }
        }
    }

    .post-label{
        border-radius: 4px;
        background-color: #EE0200;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 0 12px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post-icon{
        background-color: rgba(0,0,0,0.4);
        border: 2px solid #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    .post-author {
        font-size: 12px;
        a {
            color: #1a1a1a;
            &:hover {
                color: $accent-color;
            }
        }
    }

    &.module__slider {
        .slick-prev,
        .slick-next {
            top: -43px;
        }
    }

    + .section-post {
        margin-top: 24px;
    }
    .post-link {
        font-size: 12px;
        color: $accent-color;
        line-height: 16px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.section-post__live, .section-post__alt {
    .post-thumbnail {
        &:after {
            width: 100%;
            height: 50%;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0);
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
        }
    }
}

/* For post banner */
.section-post__alt {
    color: #FFFFFF;

    .post-info {
        bottom: 0;
    }

    .post-date {
        color: #fff;
        display: block;
        padding: 6px 0 2px;
    }

    .post-cat {
        padding: 0 6px;
        height: 22px;
        text-transform: uppercase;
    }

    .description {
        margin: 16px 0 3px;
    }

    .post-info {
        padding: 20px 24px;
    }

    .post-title {
        a {
            color: #FFFFFF;
        }
    }

    .banner-left {
        img {
           height: 488px;
        }

        .post-title {
            line-height: 33px;

            a {
                font-size: 24px;
            }
        }
    }

    .banner-right {
        .post-title {
            padding: 4px 0 0;
            line-height: 0.9;
        }

        img {
            height: 240px;
        }
    }

    .top {
        margin-bottom: 8px;
    }
}

.post-alt__multi{
    padding: 8px 0;
    .post-item{
        text-align: center;
    }
    @media screen and (min-width: 1440px) {
        .post-thumbnail{
            img{
                height: 296px;
            }
        }
    }
    .post-date{
        padding: 18px 0 10px;
    }
    .banner-left {
        .post-title{
            line-height: 1.2;
            a{
                font-size: 30px;
            }
        }
        .post-date{
            padding-top: 6px;
        }
        .post-cat{
            background-color: transparent;
            font-size: 16px;
            text-transform: capitalize;
            margin-bottom: 5px;
            a{
                display: flex;
                align-items: center;
                &:after{
                    content: "";
                    width: 1px;
                    height: 24px;
                    background-color: #fff;
                    margin: 0 22px;
                    display: inline-block;
                    @include css3-compatible("transform", rotate(30deg));
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
            }
        }
        @media screen and (min-width: 1440px) {
            img{
                height: 600px;
            }
        }
    }
}

.post-alt__medium{
    .post-item{
        margin-bottom: 24px;
    }
    > .post-item{
        &:last-child{
            margin-bottom: 0;
        }
    }
    .post-thumbnail{
        img{
            height: 300px;
        }
    }
    .post-icon{
        position: absolute;
        top: 22px;
        left: 22px;
    }
    .post-title{
        padding-bottom: 18px;
    }
    .post-author, .post-date{
        line-height: 16px;
    }
    .post-date{
        padding: 0;
    }
    .post-author{
        border-right: 1px solid #FFFFFF;
        padding-right: 8px;
        margin-right: 8px;
        a{
            color: #fff;
        }
    }
}

/* For post minimal */
.section-post__minimal {
    padding: 17px 24px 16px 24px;
    background: #FFE2E2;
    margin: 25px 0 95px 0;
    border-top: 1px solid $second-color;
    border-bottom: 1px solid $second-color;

    .post-item {
        margin: 15px 0;
    }

    .post-cat {
        a {
            font-weight: bold;
            color: $accent-color;
        }
    }

    .post-title {
        color: $black-color;
    }
}

.post-minimal-light {
    background-color: transparent;
    border-color: #C4C9D4;
    font-size: 12px;
    color: $accent-color;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 25px;
    .post-item {
        padding: 0 25px;
        &:before {
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background-color: $accent-color;
            content: "";
            display: inline-block;
            margin-right: 16px;
            vertical-align: 1px;
        }
    }
    .post-cat {
        a {
            color: $black-color;
            font-weight: bold;
        }
    }
    .post-title {
        color: $accent-color;
    }
}

/* For post slider */
.section-post__slider {
    .link-post {
        font-size: 12px;
        color: $accent-color;
        line-height: 16px;
    }

    img {
        width: 100%;
        height: 130px;
        max-height: 130px;
    }

    .post-title {
        line-height: 1;
    }

    .post-info {
        margin: 12px 0 0 0;
        align-items: center;
    }

    .post-cat {
        margin-bottom: 0;
    }

    .post-date {
        padding: 0;
    }
}

/* For post ziczac */
.section-post__ziczac {
    .post-item {
        padding: 0 0 0 24px;
        position: relative;

        &:before {
            background-color: #F0F0F0;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(100% - 55px);
            z-index: -1;
        }
    }

    .post-info {
        padding: 34px 0 10px 0;
    }

    .post-title {
        padding: 11px 0 13px 0;
    }
}

/* For post Video */
.content-video {
    padding-top: 28px;
    padding-bottom: 32px;
    margin-top: 24px;
}

.section-post__video {
    .post-title {
        padding: 20px 0 0;

        a {
            color: #fff;
        }
    }

    &.slick-slider {
        .slick-prev,
        .slick-next {
            border-color: #6e7176;
            background-color: #858585;
            &:before {
                color: #5e5e5e;
            }
        }
    }
}

.video-js {
    &.vjs-fluid {
        min-height: 246px;
    }

    .vjs-poster {
        background-size: cover;
    }

    .vjs-big-play-button {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.7);
        align-items: center;
        @include css3-compatible("transform", translate(-50%, -50%));
        top: 50%;
        left: 50%;
    }
}

.vjs-icon-placeholder {
    display: flex;
    width: 100%;
    height: 100%;
}

.vjs-icon-placeholder:before {
    font-family: IcoFont !important;
    content: "\ecaa" !important;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

/* For post grid */
.section-post__grid {
    .post-item
    .post-thumbnail {
        margin-bottom: 12px;
        img {
            height: 220px;
        }
    }

    .post-date {
        height: 30px;
        background-color: rgba(26, 26, 26, 0.8);
        padding: 0 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        min-width: 100px;
    }
    .col-md-3 {
        .post-thumbnail {
            img {
                height: 163px;
            }
        }
        .post-title {
            line-height: 17px;
            padding: 0;
            a {
                font-size: 14px;
            }
        }
        .post-date {
            height: 24px;
            min-width: 100px;
        }
    }
    .col-md-2 {
        .post-thumbnail {
            img {
                height: 140px;
            }
        }
        .post-title {
            line-height: 17px;
            padding: 0;
            a {
                font-size: 14px;
            }
        }
        .post-date {
            height: 24px;
            min-width: 85px;
        }
    }
}

.module-slider__grid {
    margin-right: -15px;
    margin-left: -15px;

    .post-item {
        padding-right: 15px;
        padding-left: 15px;
    }

    .slick-prev,
    .slick-next {
        margin-right: 15px;
    }
}

/* For post hot */
.section-post__hot {
    margin: 24px 70px;

    .title {
        padding: 6px 5px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        color: #ffffff;
        display: inline-block;
        background: $black-color;
        margin: 0 15px 0 0;
        text-transform: uppercase;
        min-width: 110px;
    }

    .post-title {
        padding: 4px 0;

        a {
            font-size: 16px;
            font-weight: normal;
            color: $black-color;
        }
    }

    .slick-slider {
        max-width: 100%;
        overflow: hidden;
        padding-right: 70px;
    }
}

/* For post large */
.section-post__large {
    .post-info {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding-right: 15px;
    }

    .post-cat {
        margin: 0;
    }

    .post-title {
        padding: 15px 0 5px;
        line-height: 33px;

        a {
            font-size: 24px;
        }
    }
}

/* For post list */
.section-post__list {
    .post-item {
        margin-bottom: 20px;
    }

    .post-thumbnail {
        flex: 0 0 40%;
        margin-right: 24px;

        img {
            height: 140px;
            max-height: 140px;
        }
    }

    .post-title {
        padding: 0 0 15px 0;
        line-height: 0.8;

        a {
            font-size: 16px;
        }
    }

    .description{
        margin: 15px 0;
    }

    .post-date {
        padding: 6px 0;
    }
}

.post-list__small {
    .post-thumbnail {
        flex: 0 0 46%;
        img {
            height: 120px;
            max-height: 120px;
        }
    }
    .post-title{
        padding-bottom: 18px;
    }
}

.post-list__medium {
    .post-item {
        > .d-flex {
            align-items: center;
        }
    }
    .post-thumbnail {
        flex: 0 0 31%;
        img {
            height: 162px;
            max-height: 162px;
        }
    }
}

.post-list__large {
    .post-item {
        > .d-flex {
            align-items: center;
        }
    }
    .post-title{
        a{
            font-size: 16px;
        }
    }
    .post-thumbnail {
        flex: 0 0 61%;
        margin-right: 30px;
        img {
            height: 360px;
            max-height: 360px;
        }
    }
    .post-author, .post-date{
        line-height: 16px;
        color: $black-color;
    }
    .post-date{
        padding: 0;
    }
    .post-author{
        border-right: 1px solid #1A1A1A;
        padding-right: 8px;
        margin-right: 8px;
    }
    .description{
        margin: 15px 0 24px;
    }
}

.footer-widget {
    .post-item {
        .post-title {
            a {
                color: #fff;
            }
        }
    }
}

/* For post related */
.section-post__related {
    margin: 33px 0 0 0;

    .post-item {
        border-top: 1px solid #C4C9D4;
        padding: 0 0 18px 0;

        &:last-child {
            border-bottom: 1px solid #C4C9D4;
        }
    }

    .post-date {
        padding: 0;
    }

    p.date {
        color: #A2A2A2;
        font-size: 12px;
        line-height: 16px;
    }

    .post-title {
        line-height: 0.8;
        padding-bottom: 14px;
        a {
            font-size: 14px;
        }
    }
}

/* Single Post */
.single-post{
    .content-area{
        margin-top: 0;
    }
    .content-single{
        padding-left: 25px;
        padding-right: 25px;
        margin-left: -25px;
        margin-right: -25px;
        padding-bottom: 25px;
    }
    .social{
        li{
            margin-left: 12px;
        }
    }
    .content-video{
        background-color: #F0F0F0;
        padding-top: 0;
        padding-bottom: 0;
        .custom-heading{
            background-color: #fff;
        }
    }
    .section-post__video{
        padding: 0 24px 45px 24px;
        .post-title{
            padding: 11px 0 0;
            line-height: 0.7;
            a{
                color: #1A1A1A;
                font-size: 14px;
            }
        }
        &.slick-slider {
            .slick-prev,
            .slick-next {
                border-color: #C4C9D4;
                background-color: #F0F0F0;
                &:before {
                    color: #C4C9D4;
                }
            }
        }
    }
    .module-slider__grid{
        margin-left: -12px;
        margin-right: -12px;
        .post-item{
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .section-post__grid{
        .post-item{
            margin-bottom: 24px;
        }
    }
    .video-js {
        &.vjs-fluid {
            min-height: 125px;
        }

        .vjs-big-play-button {
            width: 37px;
            height: 37px;
            top: 50%;
            left: 50%;
        }
    }
    .vjs-icon-placeholder:before {
        font-size: 18px;
    }
}

/* Post Live */
.section-content-live{
    padding: 35px 0 32px;
    .widget-live{
        right: 0;
        top: 0;
        width: 400px;
        background-color: rgba(26,26,26,0.7);
        height: 100%;
        padding: 30px 30px 0 30px;
    }
    .nano{
        height: 546px;
    }
    .section-post__related {
        margin-top: 0;
        .post-title a, .post-date{
            color: #fff;
        }
        .post-title{
            margin-bottom: 12px;
        }
    }
    .nav-tabs {
        justify-content: center;
        margin: 38px 0;
        .nav-item{
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin: 0 53px;
            height: 48px;
            color: rgba(255,255,255,0.4);
            position: relative;
            &.active{
                color: #fff;
                border-bottom-color: #EE0200;
                &:before{
                    background-color: #EE0200;
                }
            }
            &:before{
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                content: "";
                width: 100%;
            }
            &:after{
                position: absolute;
                right: -52px;
                top: 0;
                height: 100%;
                content: "";
                width: 1px;
                background-color: #C4C9D4;
            }
            &:last-child {
                border-right: none;
                margin-right: 0;
                padding-right: 0;
                &:after{
                    display: none;
                }
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
.section-post__live{
    img{
        height: 700px;
    }
    .post-info{
        bottom: 0;
        padding: 0 450px 0 70px;
        z-index: 1;
    }
    .post-title{
        line-height: 1.2;
        padding: 18px 0 35px;
        a{
            color: #fff;
            font-size: 36px;
        }
    }
    .post-date{
        color: #fff;
    }
    .post-label{
        top: 80px;
        left: 70px;
        &:before{
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: #fff;
        }
    }
}