@import "../common/mixins";
@import "../common/variables";
/* Sidebar */
.sidebar{
    margin-top: -15px;
}
.widget {
    @include css3-compatible("box-shadow", 0 2px 4px rgba(0,0,0,0.1));
    margin-bottom: 24px;
    .widget-title {
        font-size: 16px;
        font-weight: bold;
        color: $black-color;
        padding: 14px 0 8px;
        border-bottom: 1px solid $accent-color;
        text-align: center;
        margin: 0;
    }
    .menu{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        a{
            font-size: 16px;
            height: 48px;
            border-bottom: 1px solid #D8D8D8;
            display: flex;
            padding: 0 20px 0 40px;
            align-items: center;
            &.active, &:hover{
                padding-left: 24px;
                background-color: #F2F2F2;
            }
        }
    }
}