/* Slider Base */
.slider {
    width: 100%;
    margin: auto 0;
    padding-left: 0;

    .slick-slide {
        display: flex;
        align-items: center;
    }

    p {
        margin: auto 0;
        font-size: 16px;
        line-height: 22px;
    }
    .slick-slide {
        max-width: 100%;
        overflow: hidden;
    }
}

.module__slider{
    visibility: hidden;
    @include opacity(0);
    &.slick-initialized{
        visibility: visible;
        @include opacity(1);
    }
}

.slick-slider {
    position: relative;
    .slick-prev,
    .slick-next {
        width: 24px;
        height: 60px;
        background-color: $white-color;
        border-radius: 0;
        z-index: 1;
        i{
            color: $black-color;
            font-size: 16px;
            margin-right: 0;
        }
        &:before{
            display: none;
        }
    }
    &.slick-dotted{
        &.slick-slider{
            margin-bottom: 0;
        }
    }

    .slick-prev {
        left: 0;
        border-radius: 0 8px 8px 0;
    }

    .slick-next {
        right: 0;
        border-radius: 8px 0 0 8px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        bottom: 0;
        position: relative;
        margin: 24px 0 0;
        li {
            width: auto;
            height: auto;
            margin: 0 10px;
            button {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 12px;
                height: 12px;
                border: 1px solid $accent-color;
                border-radius: 50%;
                &:before {
                    display: none;
                }
            }
        }

        li.slick-active {
            button {
                background-color: $accent-color;
            }
        }
    }
}