<!DOCTYPE html>
<html>

<head>
    <title>TMS Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css">
    <link rel="stylesheet" href="../assets/fonts/icomoon/style.css">
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>

<body>
<!-- Header -->
<header id="header">
    <!-- header top -->
    <div class="header-top">
        <div class="container">
            <div class="top-inner">
                <div class="row">
                    <div class="col-4 col-lg-6">
                        <div class="header-block block-address">
                            <div class="icon item">
                                <i class="icon-location"></i>
                            </div>
                            <p class="mb-0">Tầng 4, tòa nhà Vimeco, Phạm Hùng, Hà Nội.</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3">
                        <div class="header-block">
                            <p class="mb-0">Hotline: 19002123</p>
                        </div>
                    </div>
                    <div class="col-4 col-lg-3 d-flex justify-content-end">
                        <div class="header-block block-support">
                            <div class="icon item">
                                <i class="icon-hotline"></i>
                            </div>
                            <p class="mb-0">Supplier</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header primary (Logo, Menu) -->
    <div class="header-primary">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <!-- Logo -->
                    <div class="logo">
                        <h1 class="mb-0"><a href="home.html"><img
                                src="../assets/images/logo.png"></a>
                        </h1>
                    </div>
                </div>
                <div class="col-md-9 d-flex flex-column align-items-end">
                    <!-- Login -->
                    <div class="section-login">
                        <a href="#" class="button button-light button-medium">
                            <i class="icon-user"></i>
                            <span>Đăng nhập</span>
                        </a>
                    </div>
                    <!-- Menu -->
                    <div id="navigation" class="navigation">
                        <div class="menu-content menu-pc">
                            <ul class="menu">
                                <li class="menu-item active">
                                    <a href="#">Trang chủ</a>
                                </li>
                                <li class="menu-item item-parent">
                                    <a href="#">Điểm đến
                                        <!-- icon arrow down for menu has child -->
                                        <span class="icon">
                                            <i class="icofont-simple-down"></i>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item item-parent">
                                            <a href="#">Level 1
                                                <!-- icon arrow down for menu has child -->
                                                <span class="icon">
                                                    <i class="icofont-simple-right"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li class="menu-item item-parent">
                                                    <a href="#">Level 2
                                                        <!-- icon arrow down for menu has child -->
                                                        <span class="icon">
                                                            <i class="icofont-simple-right"></i>
                                                        </span>
                                                    </a>
                                                    <ul class="sub-menu">
                                                        <li class="menu-item">
                                                            <a href="#">Level 3</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Level 3</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Level 3</a>
                                                        </li>
                                                        <li class="menu-item">
                                                            <a href="#">Level 3</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">Level 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">Level 2</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="#">Level 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Level 1</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Level 1</a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Level 1</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Tours</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Khách sạn</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Phương tiện</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Cẩm nang</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Banner -->
<div class="banner">
    <!-- Section module slider -->
    <!-- Post layout slider -->
    <div class="section-post section-full section-post__slider module__slider"
         data-slick='{"dots": true, "arrows": false, "fade": true}'>
        <div class="post-item">
            <div class="post-thumbnail">
                <a href="detail.html"><img src="../assets/images/img-banner.jpg" alt=""></a>
            </div>
            <div class="post-info container">
                <h3 class="post-title">
                    <a href="detail.html">Giáng sinh các vùng miền cùng </a>
                </h3>
                <p class="post-type">Tour trong nước</p>
                <p class="post-price">Giá chỉ từ 1.999.000đ</p>
                <a href="#" class="post-link button button-large">Xem thêm</a>
            </div>
        </div>
        <div class="post-item">
            <div class="post-thumbnail">
                <a href="detail.html"><img src="../assets/images/img-banner.jpg" alt=""></a>
            </div>
            <div class="post-info container">
                <h3 class="post-title">
                    <a href="detail.html">Tour trọn gói miền tây sông nước</a>
                </h3>
                <p class="post-type">Tour trong nước</p>
                <p class="post-price">Giá chỉ từ 2.999.000đ</p>
                <a href="#" class="post-link button button-large">Xem thêm</a>
            </div>
        </div>
        <div class="post-item">
            <div class="post-thumbnail">
                <a href="detail.html"><img src="../assets/images/img-banner.jpg" alt=""></a>
            </div>
            <div class="post-info container">
                <h3 class="post-title">
                    <a href="detail.html">Giáng sinh các vùng miền cùng </a>
                </h3>
                <p class="post-type">Tour trong nước</p>
                <p class="post-price">Giá chỉ từ 1.999.000đ</p>
                <a href="#" class="post-link button button-large">Xem thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div id="content">
    <!-- Content Primary -->
    <div class="content-primary">
        <!-- Content Area -->
        <section class="content-area">
            <div class="container">
                <!-- Section Search -->
                <section class="section-content">
                    <div class="search box-shadow box-overide">
                        <form id="searchForm" class="bg-white form-search" action="search.html">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="input-search d-flex flex-grow-1 align-items-center">
                                    <i class="icon-search"></i>
                                    <input class="form-control" name="search-value"
                                           placeholder="Lựa chọn điểm đến, Tour, khách sạn"/>
                                </div>
                                <div class="input-submit">
                                    <button type="submit" class="button button-accent"><i class="icon-arrow-double"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
                <!-- Section Icon Box -->
                <section class="section-content">
                    <div class="box-icon">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="d-flex item">
                                    <div class="icon"><i class="icon-tag"></i></div>
                                    <div class="info">
                                        <h4 class="title">Giá rẻ nhất</h4>
                                        <p class="mb-0">Giá trực tiếp từ nhà cung cấp, không mất phí trung gian</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex item">
                                    <div class="icon"><i class="icon-feedback"></i></div>
                                    <div class="info">
                                        <h4 class="title">Giá rẻ nhất</h4>
                                        <p class="mb-0">Giá trực tiếp từ nhà cung cấp, không mất phí trung gian</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex item">
                                    <div class="icon"><i class="icon-support"></i></div>
                                    <div class="info">
                                        <h4 class="title">Giá rẻ nhất</h4>
                                        <p class="mb-0">Giá trực tiếp từ nhà cung cấp, không mất phí trung gian</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Top điểm đến nổi bật) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Top điểm đến nổi bật</h3>
                    </div>
                    <div class="section-post section-post__grid">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-1.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-2.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-3.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-4.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-5.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-6.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-7.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-8.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex align-items-center">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <strong>3.2</strong>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Icon Box -->
                <section class="section-content">
                    <div class="box-icon box-icon-alt style-white">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="d-flex">
                                    <div class="icon"><i class="icon-airplane"></i></div>
                                    <div class="info">
                                        <h4 class="title">Giá rẻ nhất</h4>
                                        <p class="mb-0">Giá trực tiếp từ nhà cung cấp, không mất phí trung gian</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex">
                                    <div class="icon"><i class="icon-building"></i></div>
                                    <div class="info">
                                        <h4 class="title">Giá rẻ nhất</h4>
                                        <p class="mb-0">Giá trực tiếp từ nhà cung cấp, không mất phí trung gian</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="d-flex">
                                    <div class="icon"><i class="icon-bus"></i></div>
                                    <div class="info">
                                        <h4 class="title">Giá rẻ nhất</h4>
                                        <p class="mb-0">Giá trực tiếp từ nhà cung cấp, không mất phí trung gian</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Tour nổi bật) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Tour nổi bật</h3>
                    </div>
                    <div class="section-post section-post__alt">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-tour-1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Đảo hòn gai</a>
                                        </h3>
                                        <span class="post-cat">24 Tour</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-tour-2.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Đảo hòn gai</a>
                                        </h3>
                                        <span class="post-cat">24 Tour</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-tour-3.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Đảo hòn gai</a>
                                        </h3>
                                        <span class="post-cat">24 Tour</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Khách sạn) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Khách sạn</h3>
                    </div>
                    <div class="section-post section-post__alt post-alt__small">
                        <div class="row">
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-hotel-1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Grand Hotel</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-hotel-2.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Sofitel Garden</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-hotel-3.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Le Solei Palace</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-hotel-4.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Goldview</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-hotel-5.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Greenbay Catena</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-hotel-6.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Grand Hotel</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Di chuyển) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Di chuyển</h3>
                    </div>
                    <div class="section-post section-post__alt post-alt__small">
                        <div class="row">
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-bus-1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Hilda Hampton</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-bus-2.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Lloyd Cummings</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-bus-3.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Maurice Brady</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-bus-4.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Frances Powers</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-bus-5.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Theodore Wood</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-bus-6.jpg" alt=""></a>
                                    </div>
                                    <div class="post-info">
                                        <h3 class="post-title">
                                            <a href="detail.html">Ina Powers</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Content Video -->
                <section class="section-content fullwidth">
                    <div class="content-video" style="background-image: url(../assets/images/img-banner-video.jpg)">
                        <div class="custom-heading d-flex justify-content-center">
                            <h3 class="title color-white">Video trải nghiệm</h3>
                        </div>
                        <div class="container">
                            <div class="section-post section-post__video">
                                <div class="post-item">
                                    <div class="post-thumbnail position-relative video-thumbnail">
                                        <video class='video-js vjs-default-skin' controls preload='auto'
                                               poster='../assets/images/poster-video.jpg' width="555px" height="330px"
                                               data-setup=''>
                                            <source src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4'>
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Travel Blog) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Travel Blog</h3>
                    </div>
                    <div class="section-post section-post__grid">
                        <div class="row">
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-1.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <span>3.2</span>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-2.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <span>3.2</span>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-3.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <span>3.2</span>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-location-4.jpg" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="detail.html">Hà Nội- Nha Trang - Phú Quốc</a>
                                    </h3>
                                    <div class="post-action">
                                        <div class="d-flex">
                                            <div class="post-rating">
                                                <i class="icon-star"></i>
                                                <span>3.2</span>
                                            </div>
                                            <a href="detail.html" class="button post-link">Recomment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Mọi người nói về chúng tôi) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Mọi người nói về chúng tôi</h3>
                    </div>
                    <div class="section-post section-post__large module__slider" data-slick='{"slidesToShow": 2}'>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="detail.html"><img src="../assets/images/img-testimonial-1.jpg" alt=""></a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="detail.html">Christine Weaver</a>
                                    </h3>
                                    <p class="description mb-0">Every year middle class American families put off traveling
                                        because they’re too busy or too tired or they just don’t have enough money. And,
                                        in some ways, they’re right. Traveling can be expensive. But by taking the time
                                        to learn about discounts readily available to everyone through the internet</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="detail.html"><img src="../assets/images/img-testimonial-2.jpg" alt=""></a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="detail.html">Christine Weaver</a>
                                    </h3>
                                    <p class="description mb-0">Every year middle class American families put off traveling
                                        because they’re too busy or too tired or they just don’t have enough money. And,
                                        in some ways, they’re right. Traveling can be expensive. But by taking the time
                                        to learn about discounts readily available to everyone through the internet</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="detail.html"><img src="../assets/images/img-testimonial-3.jpg" alt=""></a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="detail.html">Christine Weaver</a>
                                    </h3>
                                    <p class="description mb-0">Every year middle class American families put off traveling
                                        because they’re too busy or too tired or they just don’t have enough money. And,
                                        in some ways, they’re right. Traveling can be expensive. But by taking the time
                                        to learn about discounts readily available to everyone through the internet</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section Post (Travel Blog) -->
                <section class="section-content">
                    <div class="custom-heading">
                        <h3 class="title">Đối tác của chúng tôi</h3>
                    </div>
                    <div class="section-post section-post__grid post-grid__small">
                        <div class="row">
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-partner-1.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-partner-2.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-partner-3.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-partner-4.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-partner-5.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="detail.html"><img src="../assets/images/img-partner-6.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="logo">
                    <a href="#" class="d-block">
                        <img src="../assets/images/logo-footer.png" alt="">
                    </a>
                </div>
                <div class="tax-info">
                    <p class="mb-2">Công ty cổ phần dịch vụ TMS travel</p>
                    <p class="mb-2">Mã số thuế: 000-111-222-333</p>
                    <p class="mb-2">Văn phòng đại diện: Tầng 4, tòa nhà Vimeco, Phạm Hùng, Hà Nội.</p>
                    <p>Hotline: 000-111-222-333</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="widget footer-widget">
                    <h3 class="widget-title">Giới thiệu & Chính sách</h3>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Giới thiệu về TMS</a></li>
                            <li><a href="#">Dịch vụ cung cấp</a></li>
                            <li><a href="#">Tầm nhìn và sứ mệnh</a></li>
                            <li><a href="#">Chi nhánh</a></li>
                            <li><a href="#">Chính sách đặt tour</a></li>
                            <li><a href="#">Chính sách khuyến mại</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="widget footer-widget">
                    <h3 class="widget-title">Đặt Tour tại TMS</h3>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Đồng hành cùng TMS Travel</a></li>
                            <li><a href="#">Trải nghiệm độc đáo</a></li>
                            <li><a href="#">Tầm nhìn và sứ mệnh</a></li>
                            <li><a href="#">Chính sách giá</a></li>
                            <li><a href="#">Chính sách đặt tour</a></li>
                            <li><a href="#">Chính sách khuyến mại</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="widget footer-widget">
                    <h3 class="widget-title">Cơ hội việc làm</h3>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Tuyển dụng hướng dẫn viên</a></li>
                            <li><a href="#">Đối tác, hợp tác</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget footer-widget">
                    <h3 class="widget-title">Social network</h3>
                    <div class="social">
                        <ul>
                            <li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="icon-google"></i></a></li>
                            <li><a href="#" class="skype"><i class="icon-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
<script type="text/javascript" src="../assets/script/theme.js"></script>
</body>

</html>