<!DOCTYPE html>
<html>

<head>
    <title>Chuyên Mục</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css">
    <link rel="stylesheet" href="../assets/fonts/icofont/icofont.min.css">
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_sp.css">
</head>

<body>
<header id="header">
    <!-- Menu Canvas Mobile-->
    <div class="menu-mobile">
        <span class="toggle-menu-off"><i class="icofont-close-line close-menu"></i></span>
        <!-- Menu -->
        <div id="navigation" class="navigation flex-grow-1">
            <div class="menu-content menu-pc">
                <ul class="menu">
                    <li class="menu-item active">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li class="menu-item item-parent">
                        <a href="#">Thời sự</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">Giáo dục</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Pháp luật</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Kết Nối</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header primary (Logo, Menu) -->
    <div class="header-primary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <!-- Logo -->
                    <div class="logo">
                        <h1 class="mb-0"><a class="d-flex" href="sp_homepage.html"><img
                                src="../assets/images/logo_2015_12.png"></a>
                        </h1>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Header Icon Search -->
                    <div class="search d-flex justify-content-end">
                        <div class="icon-search">
                            <a href="sp_search.html"><i class="icofont-search-1"></i></a>
                        </div>
                        <div class="toggle-menu-on">
                            <span><i class="icofont-navigation-menu"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header bottom (Top News Slider) -->
    <div class="header-bottom">
        <div class="section-post section-post__hot">
            <div class="slider module__slider" data-slick='{"arrows": true}'>
                <div class="post-item">
                    <div class="post-thumbnail">
                        <img src="../assets/images/banner1.png"/>
                    </div>
                    <p class="post-title">
                        <a href="sp_detail.html">Công an Hà Nội triển khai kế hoạch bảo vệ kỳ thi THPT quốc gia</a>
                    </p>
                </div>
                <div class="post-item">
                    <div class="post-thumbnail">
                        <img src="../assets/images/banner1.png"/>
                    </div>
                    <p class="post-title">
                        <a href="sp_detail.html">Công an Hà Nội triển khai kế hoạch bảo vệ kỳ thi THPT quốc gia</a>
                    </p>
                </div>
                <div class="post-item">
                    <div class="post-thumbnail">
                        <img src="../assets/images/banner1.png"/>
                    </div>
                    <p class="post-title">
                        <a href="sp_detail.html">Công an Hà Nội triển khai kế hoạch bảo vệ kỳ thi THPT quốc gia</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="content">
    <!-- Content Primary -->
    <div class="content-primary">
        <!-- Content Area -->
        <section class="content-area">
            <div class="container">
                <!-- breadcrumb -->
                <div class="breadcrumb">
                    <ul>
                        <li class="item"><a href="#"><i class="icofont-bank-alt"></i></a></li>
                        <li class="item separate"><i class="icofont-simple-right"></i></li>
                        <li class="item"><span>Hồ sơ phóng viên</span></li>
                    </ul>
                </div>
                <!-- Section content profile -->
                <section class="section-content section-profile">
                    <div class="profile-wrap">
                        <div class="profile-person">
                            <div class="d-flex align-items-center">
                                <div class="profile-avatar"><img src="../assets/images/avatar-profile.png" alt=""></div>
                                <div class="profile-head">
                                    <h2 class="name">Anh Nguyễn</h2>
                                    <p class="position"><strong>Phóng viên - chuyên mục Thời sự Quốc tế</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="info-wrap mt-3">
                                <div class="profile-info">
                                    <div class="info-item">
                                        <div class="info d-flex">
                                            <label>Năm sinh:</label>
                                            <p class="mb-0"><span><strong>1978</strong></span></p>
                                        </div>
                                        <div class="info d-flex">
                                            <label>Thời gian công tác:</label>
                                            <p class="mb-0"><span><strong>1987 - Hiện nay</strong></span></p>
                                        </div>
                                        <div class="info d-flex">
                                            <label>Nguyên Quán:</label>
                                            <p class="mb-0"><span><strong>Hà Nam</strong></span></p>
                                        </div>
                                        <div class="info d-flex">
                                            <label>Thường trú:</label>
                                            <p class="mb-0"><span><strong>12 ngõ 143 Lê Văn Lương, Thanh Xuân, Hà Nội</strong></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info-item">
                                        <div class="info d-flex">
                                            <label>Vị trí công tác:</label>
                                            <div class="d-block">
                                                <p class="mb-0"><span><strong>1987 -</strong> Phóng viên thường trú tại Điện Biên</span>
                                                </p>
                                                <p class="mb-0"><span><strong>1992 -</strong> Phóng viên mảng Xã Luận tiểu mục</span>
                                                </p>
                                                <p class="mb-0"><span><strong>1998 -</strong> Biên tập chuyên mục Thể thao</span>
                                                </p>
                                                <p class="mb-0"><span><strong>2000 -</strong> Chuyên viên mảng Thời sự Quốc tế</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-item">
                                        <div class="info d-flex">
                                            <label>Giải thưởng:</label>
                                            <div class="d-block">
                                                <p class="mb-0"><span><strong>1987 -</strong> Phóng viên thường trú tại Điện Biên</span>
                                                </p>
                                                <p class="mb-0"><span><strong>1992 -</strong> Phóng viên mảng Xã Luận tiểu mục</span>
                                                </p>
                                                <p class="mb-0"><span><strong>1998 -</strong> Biên tập chuyên mục Thể thao</span>
                                                </p>
                                                <p class="mb-0"><span><span><strong>2000 -</strong> Chuyên viên mảng Thời sự Quốc tế</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Module Bài viết tiêu biểu -->
                <section class="section-content section-result">
                    <div class="custom-heading d-flex justify-content-between">
                        <h3 class="title color-red">Bài viết tiêu biểu</h3>
                    </div>
                    <div class="section-post section-post__grid post-grid__medium">
                        <div class="row small-gutters">
                            <div class="col-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner2.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner3.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Post list below -->
                <section class="section-content section-result">
                    <div class="section-post section-post__list">
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri
                                            Đông
                                            Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="section-button d-flex justify-content-center mt-0">
                            <a href="#" class="button">Xem thêm >>></a>
                        </div>
                    </div>
                </section>
                <!-- Module Tin Tai Tro -->
                <section class="section-content section-result">
                    <div class="custom-heading d-flex justify-content-between">
                        <h3 class="title color-red">Tin tài trợ</h3>
                    </div>
                    <div class="section-post section-post__grid post-grid__medium">
                        <div class="row small-gutters">
                            <div class="col-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner2.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner3.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Module Moi Nong -->
                <section class="section-content section-result">
                    <div class="custom-heading d-flex justify-content-between">
                        <h3 class="title color-red">Mới nóng</h3>
                    </div>
                    <div class="section-post section-post__grid post-grid__medium">
                        <div class="row small-gutters">
                            <div class="col-4">
                                <div class="post-item">
                                    <span class="post-cat cat-special"><a href="sp_category.html">Tin Thời sự</a></span>
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <span class="post-cat cat-special"><a href="sp_category.html">Giáo dục</a></span>
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <span class="post-cat cat-special"><a href="sp_category.html">Pháp luật</a></span>
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <span class="post-cat cat-special"><a href="sp_category.html">Kết nối</a></span>
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <span class="post-cat cat-special"><a href="sp_category.html">Tài hoa trẻ</a></span>
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="post-item">
                                    <span class="post-cat cat-special"><a href="sp_category.html">Du học</a></span>
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/banner1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Trường ĐH Sư phạm Đà Nẵng trao bằng tốt nghiệp đại học,
                                            cao học cho
                                            hơn 700 sinh viên</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="logo">
                <a href="#" class="d-block">
                    <img src="../assets/images/logo_footer.png" alt="">
                </a>
            </div>
            <div class="infomation">
                <p class="item">© Báo Giáo dục và Thời đại. Cơ quan chủ quản: Bộ Giáo dục và Đào tạo.</p>
                <p class="item">Số giấy phép 864/GP-BTTTT, cấp ngày 24/06/2009, ISSN 1859-2945.</p>
                <p class="item">Tổng Biên tập : Triệu Ngọc Lâm.</p>
                <p class="item">Phó Tổng Biên tập: Dương Thanh Hương</p>
                <p class="item">Tòa soạn: 29B - Ngô Quyền - Q.Hoàn Kiếm - Hà Nội.</p>
                <p class="item">Điện thoại:(024) 3.93.69.800 - Email : gdtddientu@gmail.com</p>
                <p class="item">Liên hệ quảng cáo.</p>
            </div>
            <div class="social">
                <ul>
                    <li><a href="#" class="facebook"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#" class="google"><i class="icofont-google-plus"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="icofont-linkedin"></i></a></li>
                    <li><a href="#" class="twitter"><i class="icofont-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
<script type="text/javascript" src="../assets/script/theme.js"></script>
</body>

</html>