<!DOCTYPE html>
<html>

<head>
    <title>Tài Hoa trẻ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css">
    <link rel="stylesheet" href="../assets/fonts/icofont/icofont.min.css">
    <link href="https://vjs.zencdn.net/7.6.5/video-js.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_sp.css">
</head>

<body>
<header id="header" class="header-dark">
    <!-- Menu Canvas Mobile-->
    <div class="menu-mobile">
        <span class="toggle-menu-off"><i class="icofont-close-line close-menu"></i></span>
        <!-- Menu -->
        <div id="navigation" class="navigation flex-grow-1">
            <div class="menu-content menu-pc">
                <ul class="menu">
                    <li class="menu-item active">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li class="menu-item item-parent">
                        <a href="#">Thời sự</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Đáp án chính thức mô</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">Giáo dục</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Pháp luật</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Kết Nối</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- header primary (Logo, Menu) -->
    <div class="header-primary">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <!-- Logo -->
                    <div class="logo">
                        <h1 class="mb-0"><a class="d-flex" href="sp_homepage.html"><img
                                src="../assets/images/logo_2015_12.png"></a>
                        </h1>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Header Icon Search -->
                    <div class="search d-flex justify-content-end">
                        <div class="icon-search">
                            <a href="sp_search.html"><i class="icofont-search-1"></i></a>
                        </div>
                        <div class="toggle-menu-on">
                            <span><i class="icofont-navigation-menu"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="content">
    <!-- Content Primary -->
    <div class="content-primary">
        <!-- Content Top -->
        <section class="content-top">
            <!-- Post layout banner -->
            <div class="section-post module__slider section-post__alt" data-slick='{"arrows": false}'>
                <div class="post-item">
                    <div class="post-thumbnail position-relative">
                        <a href="#">
                            <img src="../assets/images/banner1.png" alt="">
                        </a>
                    </div>
                    <div class="post-info">
                        <span class="post-cat bg-red"><a href="sp_category.html">Giáo dục</a></span>
                        <div class="bg-white">
                            <span class="post-date">Thứ hai, 1/7/2019</span>
                            <h3 class="post-title">
                                <a href="sp_detail.html">Bộ giáo dục cung cấp đáp án chính thức các môn thi THPT quốc
                                    gia
                                    2019</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumbnail position-relative">
                        <a href="#"><img src="../assets/images/banner2.png" alt=""></a>
                    </div>
                    <div class="post-info">
                        <span class="post-cat"><a href="sp_category.html">Giáo dục</a></span>
                        <div class="bg-white">
                            <span class="post-date">Thứ hai, 1/7/2019</span>
                            <h3 class="post-title">
                                <a href="sp_detail.html">Bộ giáo dục cung cấp đáp án chính thức các môn thi THPT quốc
                                    gia
                                    2019</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumbnail position-relative">
                        <a href="#"><img src="../assets/images/banner3.png" alt=""></a>
                    </div>
                    <div class="post-info">
                        <span class="post-cat"><a href="sp_category.html">Giáo dục</a></span>
                        <div class="bg-white">
                            <span class="post-date">Thứ hai, 1/7/2019</span>
                            <h3 class="post-title">
                                <a href="sp_detail.html">Bộ giáo dục cung cấp đáp án chính thức các môn thi THPT quốc
                                    gia
                                    2019</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="post-item">
                    <div class="post-thumbnail position-relative">
                        <a href="#"><img src="../assets/images/banner4.png" alt=""></a>
                    </div>
                    <div class="post-info">
                        <span class="post-cat"><a href="sp_category.html">Giáo dục</a></span>
                        <div class="bg-white">
                            <span class="post-date">Thứ hai, 1/7/2019</span>
                            <h3 class="post-title">
                                <a href="sp_detail.html">Bộ giáo dục cung cấp đáp án chính thức các môn thi THPT quốc
                                    gia
                                    2019</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content Area -->
        <section class="content-area">
            <div class="container">
                <!-- Section tabs Học đường -->
                <section class="section-content">
                    <div class="custom-heading heading-alt d-flex justify-content-between">
                        <h3 class="title color-red">Học đường</h3>
                    </div>
                    <!-- Post layout list -->
                    <div class="section-post section-post__list">
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-button d-flex justify-content-center">
                        <a href="#" class="button">Xem thêm >>></a>
                    </div>
                </section>
                <!-- Sidebar #1 -->
                <div class="sidebar">
                    <!-- Widget Post sidebar -->
                    <div class="widget widget-post">
                        <div class="custom-heading heading-alt d-flex justify-content-between">
                            <h3 class="title color-red">Tiêu điểm</h3>
                        </div>
                        <!-- Post layout slider -->
                        <div class="section-post section-post__alt post-alt__medium module__slider"
                             data-slick='{"dots": true, "arrows": false}'>
                            <div class="post-item">
                                <div class="post-thumbnail position-relative">
                                    <a href="#"><img src="../assets/images/banner3.png" alt=""></a>
                                </div>
                                <div class="position-absolute post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ GD&ĐT công bố đáp án chính thức các môn thi
                                            THPT quốc gia 2019</a>
                                    </h3>
                                    <div class="d-flex align-items-center pb-1">
                                                    <span class="post-author"><a
                                                            href="sp_profile.html">Kyle Jacobs</a></span>
                                        <span class="post-date">Thứ Hai, 1/7/2019</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-thumbnail position-relative">
                                    <a href="#"><img src="../assets/images/banner3.png" alt=""></a>
                                </div>
                                <div class="position-absolute post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ GD&ĐT công bố đáp án chính thức các môn thi
                                            THPT quốc gia 2019</a>
                                    </h3>
                                    <div class="d-flex align-items-center pb-1">
                                                    <span class="post-author"><a
                                                            href="sp_profile.html">Kyle Jacobs</a></span>
                                        <span class="post-date">Thứ Hai, 1/7/2019</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-item">
                                <div class="post-thumbnail position-relative">
                                    <a href="#"><img src="../assets/images/banner3.png" alt=""></a>
                                </div>
                                <div class="position-absolute post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ GD&ĐT công bố đáp án chính thức các môn thi
                                            THPT quốc gia 2019</a>
                                    </h3>
                                    <div class="d-flex align-items-center pb-1">
                                                    <span class="post-author"><a
                                                            href="sp_profile.html">Kyle Jacobs</a></span>
                                        <span class="post-date">Thứ Hai, 1/7/2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Widget tra cuu diem -->
                    <div class="widget widget-scores">
                        <h6>Tra cứu điểm thi lớp 10</h6>
                        <form action="">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Tỉnh - Thành Phố</option>
                                    <option>Hà Nội</option>
                                    <option>Đông Anh</option>
                                    <option>Bắc Ninh</option>
                                    <option>Thái Bình</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Số báo danh">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn bg-red">Tra cứu</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Section tabs Phong cách -->
                <section class="section-content">
                    <div class="custom-heading heading-alt d-flex justify-content-between">
                        <h3 class="title color-red">Phong cách</h3>
                    </div>
                    <!-- Post layout list -->
                    <div class="section-post section-post__list">
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-button d-flex justify-content-center">
                        <a href="#" class="button">Xem thêm >>></a>
                    </div>
                </section>
                <!-- Sidebar #2 -->
                <div class="sidebar">
                    <!-- Widget Post sidebar Đọc nhiều -->
                    <div class="widget widget-post">
                        <div class="custom-heading heading-alt d-flex justify-content-between">
                            <h3 class="title color-red">Đọc nhiều</h3>
                        </div>
                        <div class="section-post module__slider section-post__ziczac post-ziczac__medium mt-0"
                             data-slick='{"arrows": false, "dots": false}'>
                            <div class="post-item">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/post-talent.png" alt="">
                                    </a>
                                </div>
                                <h3 class="post-title">
                                    <a href="sp_detail.html">Chuyện về cô học trò thủ khoa kì thi
                                        tuyển sinh
                                        lớp 10</a>
                                </h3>
                            </div>
                            <div class="post-item">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/post-talent.png" alt="">
                                    </a>
                                </div>
                                <h3 class="post-title">
                                    <a href="sp_detail.html">Chuyện về cô học trò thủ khoa kì thi
                                        tuyển sinh
                                        lớp 10</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content Video -->
        <section class="content-video bg-black">
            <div class="container">
                <div class="custom-heading d-flex justify-content-between">
                    <h3 class="title color-red">Video</h3>
                </div>
                <div class="section-post section-post__video module__slider module-slider__grid"
                     data-slick='{"slidesToShow": 2}'>
                    <div class="post-item">
                        <div class="post-thumbnail position-relative video-thumbnail">
                            <video class='video-js vjs-default-skin' controls preload='auto'
                                   poster='../assets/images/banner1.png' height="246px" data-setup='{"fluid": true}'>
                                <source src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4'>
                            </video>
                        </div>
                        <h3 class="post-title"><a href="#">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri Đông Anh</a></h3>
                    </div>
                    <div class="post-item">
                        <div class="post-thumbnail position-relative video-thumbnail">
                            <video class='video-js' controls preload='auto' poster='../assets/images/banner1.png'
                                   data-setup='{"fluid": true}'>
                                <source src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4'>
                            </video>
                        </div>
                        <h3 class="post-title"><a href="#">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri Đông Anh</a></h3>
                    </div>
                    <div class="post-item">
                        <div class="post-thumbnail position-relative video-thumbnail">
                            <video class='video-js' controls preload='auto' poster='../assets/images/banner1.png'
                                   data-setup='{"fluid": true}'>
                                <source src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4'>
                            </video>
                        </div>
                        <h3 class="post-title"><a href="#">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri Đông Anh</a></h3>
                    </div>
                    <div class="post-item">
                        <div class="post-thumbnail position-relative video-thumbnail">
                            <video class='video-js' controls preload='auto' poster='../assets/images/banner1.png'
                                   data-setup='{"fluid": true}'>
                                <source src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4'>
                            </video>
                        </div>
                        <h3 class="post-title"><a href="#">Bộ trường Phùng Xuân Nhạ tiếp xúc cử tri Đông Anh</a></h3>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content Bottom -->
        <section class="content-bottom">
            <div class="container">
                <!-- Section content Trang viết học đường -->
                <section class="section-content">
                    <div class="custom-heading heading-alt d-flex justify-content-between">
                        <h3 class="title color-red">Trang viết học đường</h3>
                    </div>
                    <!-- Post layout list -->
                    <div class="section-post section-post__list">
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#">
                                        <img src="../assets/images/news2.png" alt="">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Bộ trường Phùng Xuân Nhạ tiếp xúc
                                            cử tri
                                            Đông Anh</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-button d-flex justify-content-center">
                        <a href="#" class="button">Xem thêm >>></a>
                    </div>
                </section>
                <div class="sidebar">
                    <!-- Widget Post sidebar -->
                    <div class="widget widget-post">
                        <div class="custom-heading heading-alt d-flex justify-content-between">
                            <h3 class="title color-red">Du học</h3>
                        </div>
                        <!-- Post layout slider -->
                        <div class="section-post section-post__list">
                            <div class="post-item">
                                <div class="d-flex">
                                    <div class="post-thumbnail">
                                        <a href="#"><img src="../assets/images/slider1.png" alt=""></a>
                                    </div>
                                    <h3 class="post-title">
                                        <a href="sp_detail.html">Xử lý thế nào với đối tượng cầm gạch tấn công Đại úy
                                            CSGT</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <!-- Post layout related -->
                        <div class="section-post section-post__related">
                            <div class="post-item">
                                <h3 class="post-title">
                                    <a href="sp_detail.html">Chửi bới, xúc phạm vợ cũ... con rể bị bố vợ đâm tử vong</a>
                                </h3>
                            </div>
                            <div class="post-item">
                                <h3 class="post-title">
                                    <a href="sp_detail.html">Siêu trộm nhí ở Hà Tĩnh thực hiện 35 vụ bằng thủ đoạn không
                                        ngờ</a>
                                </h3>
                            </div>
                            <div class="post-item">
                                <h3 class="post-title">
                                    <a href="sp_detail.html">Nhặt ve chai, mẹ ca sĩ Châu Việt Cường bị tàu hỏa tông tử
                                        vong</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- Widget Ads -->
                    <div class="widget widget-ads">
                        <div class="content-block block-ads block-ads-sidebar mt-0" style="height: 275px;"></div>
                    </div>
                </div>
                <!-- Section content Kỹ Năng sống -->
                <section class="section-content">
                    <div class="custom-heading heading-alt d-flex justify-content-between">
                        <h3 class="title color-red">Kỹ Năng sống</h3>
                    </div>
                    <!-- Post layout alt medium -->
                    <div class="section-post section-post__list">
                        <div class="post-item">
                            <div class="d-flex">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="../assets/images/slider1.png" alt=""></a>
                                </div>
                                <h3 class="post-title">
                                    <a href="sp_detail.html">Xử lý thế nào với đối tượng cầm gạch tấn công Đại úy
                                        CSGT</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!-- Post layout related -->
                    <div class="section-post section-post__related">
                        <div class="post-item">
                            <h3 class="post-title">
                                <a href="sp_detail.html">Chửi bới, xúc phạm vợ cũ... con rể bị bố vợ đâm tử vong</a>
                            </h3>
                        </div>
                        <div class="post-item">
                            <h3 class="post-title">
                                <a href="sp_detail.html">Siêu trộm nhí ở Hà Tĩnh thực hiện 35 vụ bằng thủ đoạn không
                                    ngờ</a>
                            </h3>
                        </div>
                        <div class="post-item">
                            <h3 class="post-title">
                                <a href="sp_detail.html">Nhặt ve chai, mẹ ca sĩ Châu Việt Cường bị tàu hỏa tông tử
                                    vong</a>
                            </h3>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
<!-- Footer -->
<footer id="footer">
    <div class="container">
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="logo">
                <a href="#" class="d-block">
                    <img src="../assets/images/logo_footer.png" alt="">
                </a>
            </div>
            <div class="infomation">
                <p class="item">© Báo Giáo dục và Thời đại. Cơ quan chủ quản: Bộ Giáo dục và Đào tạo.</p>
                <p class="item">Số giấy phép 864/GP-BTTTT, cấp ngày 24/06/2009, ISSN 1859-2945.</p>
                <p class="item">Tổng Biên tập : Triệu Ngọc Lâm.</p>
                <p class="item">Phó Tổng Biên tập: Dương Thanh Hương</p>
                <p class="item">Tòa soạn: 29B - Ngô Quyền - Q.Hoàn Kiếm - Hà Nội.</p>
                <p class="item">Điện thoại:(024) 3.93.69.800 - Email : gdtddientu@gmail.com</p>
                <p class="item">Liên hệ quảng cáo.</p>
            </div>
            <div class="social">
                <ul>
                    <li><a href="#" class="facebook"><i class="icofont-facebook"></i></a></li>
                    <li><a href="#" class="google"><i class="icofont-google-plus"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="icofont-linkedin"></i></a></li>
                    <li><a href="#" class="twitter"><i class="icofont-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
<script type="text/javascript" src="../assets/script/theme.js"></script>
</body>

</html>