@import "mixins";
@import "variables";

a{
    color: $black-color;
    &:hover{
        color: $accent-color;
    }
}

.color-red {
    color: $accent-color;
}

.color-white {
    color: $white-color;
}

.color-black {
    color: $black-color !important;
}

*:focus {
    outline: none;
}

.small-gutters {
    margin-right: -4px;
    margin-left: -4px;

    > .col,
    > [class*="col-"] {
        padding-right: 4px;
        padding-left: 4px;
    }
}

.medium-gutters {
    margin-right: -12px;
    margin-left: -12px;

    > .col,
    > [class*="col-"] {
        padding-right: 12px;
        padding-left: 12px;
    }
}

.fullwidth{
    margin-left: calc((100vw - 1140px) / -2);
    margin-right: calc((100vw - 1140px) / -2);
}

.middle-center {
    transform: translate(0, -50%);
}

.border-box{
    border: 1px solid rgba(26,26,26,0.2);
    border-radius: 8px;
    padding: 16px;
    font-size: 18px;
    small{
        font-size: 14px;
    }
}

.middle-bottom {
    bottom: 0;
}

.bg-red {
    background: $second-color !important;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background: $black-color !important;
}

.bg-pink {
    background-color: #FFE2E2;
}

.bg-gray {
    background-color: #F2F2F2;
}

figcaption{
    font-size: 12px;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.back-to-top {
    a {
        text-decoration: underline !important;
    }

    a {
        text-decoration-line: underline;
    }
}

.logo {
    width: 100%;
    padding: 12px 0 22px;
    a{
        display: inline-block;
    }
}

.form-control{
    height: 40px;
    border-radius: 8px;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(26,26,26,0.4);
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(26,26,26,0.4);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: rgba(26,26,26,0.4);
    }
}
.input-group-text{
    border-radius: 8px;
    background-color: transparent;
    border-right: none;
    font-size: 14px;
}
.input-group-prepend + .form-control{
    border-left: none;
    padding-left: 0;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    outline: none;
    box-shadow: none;
}

blockquote {
    color: $black-color;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    position: relative;
    padding: 20px 30px;
    background: #F0F0F0;
    border: 1px solid #C4C9D4;
    display: block;
    margin: 30px 0 23px 0;
    .icon {
        position: absolute;
        right: 4px;
        top: -10px;
        color: #C4C9D4;
        font-size: 24px;
    }
}

.custom-more-btn {
    a {
        display: inline-block;
        padding: 13px 42px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background: $black-color;
    }
}

@media (min-width: 1230px) {
    .container {
        max-width: 1170px;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    color: $black-color;
}

a, button {
    transition: all 0.3s linear 0s;
}

a {
    &:hover {
        color: $accent-color;
        text-decoration: none;
    }
}

.custom-heading {
    margin-bottom: 24px;
    position: relative;
    .title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: 7px;
        display: inline-block;
        border-bottom: 1px solid $accent-color;
    }
    span{
        font-weight: 300;
        margin-left: 16px;
    }
}

.heading-alt{
    border-color: $black-color;
    border-width: 2px;
    &:after{
        content: "";
        height: 2px;
        width: 24px;
        background-color: $accent-color;
        position: absolute;
        bottom: -2px;
    }
    .title{
        &:after{
            content: "";
            width: 1px;
            height: 24px;
            background-color: $black-color;
            margin: 0 10px;
            display: inline-block;
            @include css3-compatible("transform", rotate(30deg));
            vertical-align: -5px;
        }
    }
}

.section-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.divider {
    display: block;
    margin: 24px 0;
    background-color: #C4C9D4;
    height: 1px;
    width: 100%;
}

.block-ads {
    background-color: #D8D8D8;
    border: 1px solid #979797;
    min-height: 150px;
    margin: 20px 0 150px;
}

.block-ads-sidebar {
    height: 490px;
    margin-bottom: 55px;
}

button, .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 0 16px;
    color: #fff;
    font-size: 14px;
    background: $second-color;
    border-radius: 15px;
    border: none;
    &:hover {
        @include opacity(0.8);
        color: #fff;
    }
    i{
        margin-right: 8px;
        color: $white-color;
    }
    &:focus{
        @include css3-compatible("box-shadow", none);
        outline: none;
    }
}

.button-accent {
    background-color: $accent-color;
    border: none;
}

.button-blue {
    background-color: $blue-color;
    border: none;
}

.button-yellow {
    background-color: $yellow-color;
    border: none;
    color: $black-color;
}

.button-light {
    background-color: $white-color;
    border: 1px solid $accent-color;
    color: $black-color;
    border-radius: 8px;
    i{
        color: $accent-color;
        font-size: 20px;
    }
    &:hover{
        color: $black-color;
    }
}

.button-medium {
    height: 40px;
    padding: 0 24px;
}

.button-large {
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    text-transform: uppercase;
    padding: 0 55px;
}

.box-shadow{
    background-color: #F2F2F2;
    @include css3-compatible("box-shadow", 0px 0px 10px 5px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    .button{
        width: 165px;
        height: 80px;
        border-radius: 8px;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;
        i{
            font-size: 30px;
            margin-right: 0;
        }
    }
}
.box-overide{
    margin-top: -40px;
    position: relative;
    z-index: 1;
}

.social {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    li {
        margin: 0 18px 0 0;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #FFFFFF;
        &:hover {
            color: $accent-color;
        }
    }
}

/* Content */
.content-area {
    margin-top: 0;
}

.section-content{
    margin-bottom: 30px;
}

/* Tags */
.tags {
    display: flex;
    align-items: center;
    padding: 33px 12px 16px;
    list-style: none;
    margin: 0;
    a {
        display: inline-flex;
        align-items: center;
        margin: 0 12px;
        height: 30px;
        color: #fff;
        padding: 0 15px;
        background-color: #ACACAC;
        border-radius: 15px;
        &.active, &:hover{
            background-color: $second-color;
        }
    }
}

/* Icon Box */
.box-icon{
    .item{
        padding-right: 25px;
    }
    .icon{
        margin-right: 25px;
        i{
            color: $accent-color;
            font-size: 60px;
        }
    }
    .title{
        font-size: 16px;
        font-weight: bold;
    }
    &.style-white{
        background-color: $black-color;
        color: $white-color;
        padding: 50px 40px;
        margin-right: -30px;
        margin-left: -30px;
        .icon{
            i{
                color: $white-color;
            }
        }
    }
}

/* Cover */
.cover-image{
    .feature-image {
        position: relative;
        &:before {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    img{
        width: 100%;
        height: 250px;
        max-height: 250px;
        object-fit: cover;
        object-position: center center;
    }
}

/* Pagination */
.pagination{
    margin: 8px 0 50px;
    .page-link{
        background-color: #ACACAC;
        width: 30px;
        height: 30px;
        border-radius: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
    }
    .page-item{
        margin-right: 24px;
        &.active {
            .page-link{
                background-color: $second-color;
            }
        }
    }
}