// Variables
$accent-color: #EC1F27 !default;
$black-color: #1A1A1A !default;
$second-color: #F46825 !default;
$yellow-color: #FFB253 !default;
$white-color: #FFFFFF !default;
$blue-color: #78A6DE !default;